body{
  font-family: sans-serif;
}

#heading{
  padding-left: 20px;
  font-size: 50px;
  font-weight: 300;
  border-bottom: 1px solid black;
}

.container{
  display: flex;
}

.nav{
  border: 1px solid rgb(201, 201, 201);
  border-right: none;
  height: 550px;
  width: 300px;
  padding-top: 20px;
}

#title-text{
  width: 220px;
  height: 30px;
  border: none;
  outline: none;
  border-bottom: 2px solid darkseagreen;
  font-size: 20px;
}

#title-button{
  font-size: 15px;
  outline: none;
  border-radius: 5px;
}

#nav-items{  
  overflow: scroll;
  height: 520px;
}

.nav-item{
  padding-left: 10px;
  height: 50px;
  width: 295px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item a{
  padding: 0 20px;
}

.todo-title{
  cursor: pointer;
  color:black;
  width: 250;
  overflow: scroll;
}

#todo-container{
  border: 1px solid black;
  width: 800px;
  height: 470px;
  padding: 10px 30px 10px 30px;
  overflow: scroll;
}

#task-text{
  width: 400px;
  height: 20px;
  border: none;
  outline: none;
  border-bottom: 1px solid darkseagreen;
  font-size: 15px;
}

.task{
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-link{
  font-size: 15px;
  cursor: pointer;
  color: rgb(235, 100, 100);
}

.clicked{
  background-color: rgb(139, 174, 240);
}