body{
  font-family: sans-serif;
}

#heading{
  padding-left: 20px;
  font-size: 50px;
  font-weight: 300;
  border-bottom: 1px solid black;
}

.container{
  display: flex;
}

.nav{
  border: 1px solid rgb(201, 201, 201);
  height: 550px;
  width: 300px;
  overflow: scroll;
  padding-top: 20px;
}

#title-text{
  width: 220px;
  height: 30px;
  border: none;
  outline: none;
  border-bottom: 2px solid darkseagreen;
  font-size: 20px;
}

#title-button{
  font-size: 15px;
  outline: none;
  border-radius: 5px;
}

.nav-item{
  color: rgb(164, 171, 177);
  margin-top: 5px;
  padding-left: 10px;
  margin-bottom: 5px;
  cursor: pointer;
}

.todo-container{
  border: 1px solid black;
  border-left: none;
  width: 800px;
  padding: 50px;
}

#task-text{
  width: 400px;
  height: 20px;
  border: none;
  outline: none;
  border-bottom: 1px solid darkseagreen;
  font-size: 15px;
}

.task{
  font-size: 20px;
}

.delete-link{
  font-size: 15px;
}