<html>

<head>
  <title>TODO</title>
  <link rel="stylesheet" href="css/index.css">
</head>

<body>
  <h1 id="heading">TODO</h1>
  <div class="container">
    <div class="nav">
      <input id="title-text" type="text" placeholder=" Enter Title" required>
      <input id="title-button" type="button" value="Add Title" />
      <div id="nav-items">
        <!-- <h2 class="nav-item">TODO ONE</h2> -->
      </div>
    </div>
    <div class="todo-container">
      <div class="task" id="task-1">
        <div id="tasks">
          <input class="tick-mark" type="checkbox">
          <label>have to make todo</label>
          <a class='delete-link' href="">Delete</a>
        </div>
        <br>
      </div>
      <input id="task-text" type="text" placeholder=" Enter Task" required>
      <input id="task-button" type="button" value="Add Task" />
    </div>
  </div>
</body>

</html>